.hero {
  background: url('/imgs/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem;
  text-align: center;
  color: white;

}

.hero-content {
  max-width: 800px;
  max-height: 2000px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: white;
}

.hero .tagline {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.md-button {
  font-size: 1rem;
  padding: 0.75em 1.5em;
}