site_name: JukaboxDocs

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Setup: setup-guide.md
  - Maintenance: maintanance.md
  - Our Future: our-future.md

theme:
  name: material
  language: en
  palette:
    - scheme: default
      primary: indigo
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/git-alt 
  font:
    code: Roboto Mono
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - search.share
    - content.code.annotate
    - content.code.copy

repo_url: https://github.com/Chugani05-JesusLugo2002/Jukabox
repo_name: Jukabox

plugins:
  - search
  - offline
  - i18n:
      docs_structure: folder
      default_language: en
      languages:
        - locale: en 
          name: English
          default: true
          build: true
        - locale: es
          name: Español
          build: true
      nav_translations:
        es:
          - Inicio: index.md
          - Primeros Pasos: getting-started.md
          - Guía de Configuración: setup-guide.md
          - Mantenimiento: maintanance.md
          - Nuestro Futuro: our-future.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

extra:
  alternate:
    - name: English
      link: /en/
      lang: en
    - name: Español
      link: /es/
      lang: es