.hero {
  background: url('/imgs/background.jpg') center center no-repeat;
  background-size: cover;
  height: 75vh;
  width: 175vh;
  padding: 5rem;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: white;
}

.hero .tagline {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.md-button {
  font-size: 1rem;
}